body {
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	overflow-y: hidden;
	background-color: black;
}

#main-ntg {
	position: static;
}

#area-game {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 1200,
	height: 720,
	position: relative
}

#game_frame {
	width: 1200;
	height: 720;
	position: absolute;
    top: 0;
    left: 0;
}

.dmm-ntgnavi {
	display: none;
}

.area-naviapp {
	display: none;
}

#ntg-recommend {
	display: none;
}

#foot, #foot+img {
	display: none;
}

#w, #main-ntg, #page {
	margin: 0,
	padding: 0,
	width: 100%,
	height: 0
	background: none!important;
}

#main-ntg {
	margin: 0!important;
}

/* new game page */
.gamesResetStyle, gamesResetStyle * {
    background: none !important;
}

#game_frame {
	--game-frame-width: 1200px;
    --game-frame-height: 720px;
	position: absolute;
    top: 0;
    left: 0;
}