body {
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
}

#main-ntg {
	position: static;
}

#area-game {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 1200,
	height: 720,
	position: relative
}

#game_frame {
	width: 1200;
	height: 720;
}

.dmm-ntgnavi {
	display: none;
}

.area-naviapp {
	display: none;
}

#ntg-recommend {
	display: none;
}

#foot, #foot+img {
	display: none;
}

#w, #main-ntg, #page {
	margin: 0,
	padding: 0,
	width: 100%,
	height: 0
}

#main-ntg {
	margin: 0!important;
}